<%-include('partials/header');-%>

   <!-- <div class="cont headingContact"><h1>Contact Us</h1></div>

        <div class="top">
            <h5><strong>SHUBHAM & SUKHJEET</strong></h5>
            <div class="bottom" >
                <strong>+91123456789
                    EMAIL:ag.s@protonmail.com</strong>
            </div>
        </div> -->
        
    
        <div class = "contact-img">

        </div>





<%-include('partials/footer');-%>
